$wood : #619080;
$flooring : #669ac9;
$decorative : #956e8e;
$specialty : #eeb211;
$display : #7d3620;
$news : #323e48;
$hospitality : #4ca686;
$retail : #622d50;
$multiFam : #f98e2b;
$blogs : #e74c39;
$releases : #202945;

$woodHover : #00d8aa;
$flooringHover : #6cbdff;
$decorativeHover : #ca74c5;
$specialtyHover : #fe8400;
$displayHover : #b0604a;
$newsHover : lighten(#323e48, 30%);
$hospitalityHover : lighten(#4ca686, 30%);
$retailHover : lighten(#622d50, 30%);
$multiFamHover : lighten(#f98e2b, 30%);
$blogsHover : lighten(#e74c39, 30%);
$releasesHover : lighten(#202945, 30%);

$gold : #8C8572;

$ltGray : #eee;
$mdGray : #777;
$dkGray : #333;
$boxGray : #fafafa;

$linkColorHover : #ca74c2 ;
$linkColor : #996699;
$borderStyle :#ddd 1px solid;