<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=woodland;Initial Catalog=ASI_EPiServerCMS_7_Prod;Integrated Security=False;User ID=ASIUser;Password=@sIu$er;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerCommon" connectionString="Data Source=woodland;Initial Catalog=ASI_EPiServerCMS_7_Prod;Integrated Security=False;User ID=ASIUser;Password=@sIu$er;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=woodland;Initial Catalog=ASI_EPiServerCommerce_7;Integrated Security=False;User ID=ASIUser;Password=@sIu$er;Connect Timeout=10;Application Name=EPiServerCommerceManager_8" />
  <add name="CmoEntities" connectionString="provider connection string=&quot;Data Source=woodland;Initial Catalog=ASI_EPiServerCMS_7;Integrated Security=False;User ID=ASIUser;Password=@sIu$er;Connect Timeout=10&quot;;metadata=res://*/Entities.CmoModel.csdl|res://*/Entities.CmoModel.ssdl|res://*/Entities.CmoModel.msl;provider=System.Data.SqlClient" providerName="System.Data.EntityClient" />
  <add name="dbASI_EPi_7_8Entities" connectionString="metadata=res://*/EPiCustomEntities.csdl|res://*/EPiCustomEntities.ssdl|res://*/EPiCustomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=woodland;initial catalog=ASI_EPiServerCMS_7_Prod;integrated security=False;User ID=ASIUser;Password=@sIu$er;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>