<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="ASI">
      <add name="*" />
      <add name="glalas:17018" />
      <add name="localhost:61977" />
      <add name="asiepi.adagetechnologies.com" />
      <add name="asicmsprod.adagetechnologies.com" />
      <add name="www.archsystems.com" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/31/ROOT:GLALAS" siteId="ASI" />
    <add key="/LM/W3SVC/68/ROOT:GLALAS" siteId="ASI" />
    <add key="/LM/W3SVC/44/ROOT:SCICERO" siteId="ASI" />
    <add key="/LM/W3SVC/42/ROOT:NBAIEL" siteId="ASI" />
    <add key="/LM/W3SVC/5/ROOT:SHUBBARD" siteId="ASI" />
    <add key="/LM/W3SVC/14/ROOT:DBOLAND" siteId="ASI" />
    <add key="/LM/W3SVC/17/ROOT:JSHARPE" siteId="ASI" />
    <add key="/LM/W3SVC/76/ROOT:GLALAS" siteId="ASI" />
    <add key="/LM/W3SVC/48/ROOT:NBAIEL" siteId="ASI" />
    <add key="/LM/W3SVC/17/ROOT:DBOLAND" siteId="ASI" />
    <add key="/LM/W3SVC/18/ROOT:DENDERS" siteId="ASI" />
    <add key="/LM/W3SVC/17/ROOT:KWANG" siteId="ASI" />
    <add key="/LM/W3SVC/47/ROOT:HYANG" siteId="ASI" />
    <add key="/LM/W3SVC/52/ROOT:NBAIEL" siteId="ASI" />
    <add key="/LM/W3SVC/23/ROOT:DBOLAND" siteId="ASI" />
    <add key="/LM/W3SVC/20/ROOT:DENDERS" siteId="ASI" />
    <add key="/LM/W3SVC/17/ROOT:JCOLLAR" siteId="ASI" />
    <add key="/LM/W3SVC/2/ROOT:EHAYMAN" siteId="ASI" />
    <add key="/LM/W3SVC/13/ROOT:GLENN-PC" siteId="ASI" />
    <add key="/LM/W3SVC/80/ROOT:GLALAS" siteId="ASI" />
    <add key="/LM/W3SVC/52/ROOT:NBAIEL-PC" siteId="ASI" />
    <add key="/LM/W3SVC/2/ROOT:MILWAUKEE" siteId="ASI" />
    <add key="/LM/W3SVC/9/ROOT:STOCKTON" siteId="ASI" />
  </automaticSiteMapping>
  <virtualPathProviders>
    <clear />
    <add virtualPath="~/epi/" physicalPath="C:\public\EPiServer\CMS\Content\Modules"
      name="ProtectedAddons" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" physicalPath="[appDataPath]\SitePageFiles"
      name="SitePageFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/"
      bypassAccessCheck="false" indexingServiceCatalog="Web" useRouting="true"
      customFileSummary="~/FileSummary.config" physicalPath="[appDataPath]\SiteGlobalFiles"
      name="SiteGlobalFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/"
      bypassAccessCheck="false" maxVersions="5" useRouting="true"
      customFileSummary="~/FileSummary.config" physicalPath="[appDataPath]\SiteDocuments"
      name="SiteDocuments" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" />
    <add virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\App_Themes\Default"
      useRouting="true" name="App_Themes_Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/epi/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\UI\CMS"
      name="UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\util"
      name="UtilFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\webservices"
      name="WebServiceFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/epi/EPiTrace" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\Install\Modules\EPiTrace\Application\EPiTrace"
      name="EPiTrace" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/EPiServerCommon/" physicalPath="C:\Program Files (x86)\EPiServer\CommonFramework\7.0.844.1\Application\EPiServerCommon"
      name="EPiServerCommon" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="Commerce Assets" virtualPath="~/Root/"
      bypassAccessCheck="false" name="AssetVPP" type="EPiServer.Business.Commerce.VirtualPathProviders.AssetVirtualPathProvider,EPiServer.Business.Commerce" />
    <add virtualPath="~/epi/Commerce" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\Install\Modules\EPiServer Commerce 7.0.243.0\Application"
      name="EPiServerCommerce" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="false" virtualName="DynamicContentPreview"
      virtualPath="~/Edit/Dialogs/DynamicContentPreview.aspx" bypassAccessCheck="false"
      name="DynamicContentPreview" type="EPiServer.Web.Hosting.VirtualPathMappedProvider, EPiServer" />
    <add virtualPath="~/CMOWebServices" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\Install\Modules\CMO7.0.518.1\CMO\..\CmoWebServices"
      name="CMOWebServices" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add virtualPath="~/CMO" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\Install\Modules\CMO7.0.518.1\CMO"
      name="CMO" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
  </virtualPathProviders>
  <virtualPathMappings>
    <add url="~/epi/CMS/Editor/Dialogs/DynamicContentPreview.aspx"
      mappedUrl="~/Edit/Dialogs/DynamicContentPreview.aspx" />
  </virtualPathMappings>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="PackagingAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="CmsAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebEditors" mode="Any" name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
      <add name="CmoUsers" type="EPiServer.Cmo.Cms.Security.CmoUsersRole, EPiServer.Cmo.Cms" />
      <add name="CmoAdmins" type="EPiServer.Cmo.Cms.Security.CmoAdminsRole, EPiServer.Cmo.Cms" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add databaseFileName="C:\Program Files (x86)\EPiServer\Framework\7.0.859.1\Geolocation\GeoLiteCity.dat"
        name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
    </providers>
  </geolocation>
  <appData basePath="C:\public\EPiServer\CMS\Content" />
</episerver.framework>