<?xml version="1.0"?>
<Catalog autoConfigure="true">
  <Connection connectionStringName="EcfSqlConnection" />
  <Cache enabled="true" collectionTimeout="0:1:0" entryTimeout="0:1:0" nodeTimeout="0:1:0" schemaTimeout="0:2:0" />
  <Encoding imageQualityPercentage="80" defaultFormat="jPeg" />
  <Roles />
  <Events>
    <add type="Mediachase.Commerce.Catalog.Loggers.CatalogLogger, Mediachase.Commerce" />
  </Events>
  <!-- Sale Price Types -->
  <SalePriceTypes>
    <add key="AllCustomers" value="0" description="All Customers" />
    <add key="Customer" value="1" description="Customer" />
    <add key="CustomerPriceGroup" value="2" description="Customer Price Group" controlUrl="~/Apps/Catalog/Modules/CustomerGroups.ascx" />
    <!-- Add custom types here -->
    <!--
    <add key="JurisdictionGroup" value="3" description="Jurisdiction Group"/>
    -->
  </SalePriceTypes>
</Catalog>